@{
    ViewBag.Title = "Welcome";
}

<div class="row">
    <div class="col-md-12 col-xs-12">
        <h1>Welcome to the Time Machine!</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <p>
            Content
        </p>
        
        <div class="pull-right" style="margin-top: 10px;">
            <button id="btnLetsGo" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#letsGoModal">Continue</button>
        </div>

        <!-- Modal HTML -->
        <div id="letsGoModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title">Career Result</h1>
                    </div>
                    <div class="modal-body">
                        <p>
                            Career Result text
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Continue</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>