@model TimeTraveler.Models.TimeTravelerDetail

@{
    ViewBag.Title = "Community and Service";
}

<div class="page-header">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h4>Destination 3:</h4>
            <h1>Community and Service</h1>
        </div>
        <div class="col-xs-12 col-md-6" style="height: 60px;">
            <div id="destination-path">
                <div id="destination-path-time-traveler" style="left: 185px;">
                    <img src="~/images/gif/timetraveler_small.gif" />
                </div>
            </div>
        </div>
    </div>
</div>

<div style="margin-bottom: 10px;">
    <p>
        Ready to time travel to your next destination? Let's go.
    </p>
    <p>
        <strong>
            Here we ask, Who or what would you like to help when you grow up?
            Giving back to your community is important.
        </strong>
    </p>
</div>

@using (Html.BeginForm("HomeAndFamily", "Home", FormMethod.Post))
{
    <ul class="select-grid select-grid-large">
        <li>
            <input type="radio" name="service" id="cb1" value="graffiti" />
            <label for="cb1">
                <div class="select-grid-image">
                    <img src="/images/community_and_service/cleaning_graffitti.jpg" />
                </div>
                <div class="select-grid-title">
                    Clean Graffiti
                </div>
            </label>
        </li>
        <li>
            <input type="radio" name="service" id="cb2" value="coach" />

            <label for="cb2">
                <div class="select-grid-image">
                    <img src="/images/community_and_service/coaching.jpg" />
                </div>
                <div class="select-grid-title">
                    Coach
                </div>
            </label>
        </li>
        <li>
            <input type="radio" name="service" id="cb3" value="animals" />
            <label for="cb3">
                <div class="select-grid-image">
                    <img src="/images/community_and_service/helping_animals.jpg" />
                </div>
                <div class="select-grid-title">
                    Help Animals
                </div>
            </label>
        </li>
        <li>
            <input type="radio" name="service" id="cb4" value="environment" />
            <label for="cb4">
                <div class="select-grid-image">
                    <img src="/images/community_and_service/helping_the_environment.jpg" />
                </div>
                <div class="select-grid-title">
                    Help Protect the Environment
                </div>
            </label>
        </li>
        <li>
            <input type="radio" name="service" id="cb5" value="children" />
            <label for="cb5">
                <div class="select-grid-image">
                    <img src="/images/community_and_service/mentoring_children.jpg" />
                </div>
                <div class="select-grid-title">
                    Mentor Children
                </div>
            </label>
        </li>
        <li>

            <input type="radio" name="service" id="cb6" value="homeless" />
            <label for="cb6">
                <div class="select-grid-image">
                    <img src="/images/community_and_service/women_shelter.jpg" />
                </div>
                <div class="select-grid-title">
                    Homeless Shelters
                </div>

            </label>
        </li>


        <li>
            <input type="radio" name="service" id="optOther" value="other" />
            <label for="optOther">
                <div class="select-grid-image">
                    <img src="~/images/question.jpg" />
                </div>
                <div class="select-grid-title">
                    Other
                </div>
            </label>
            <input type="text" id="otherText" class="hidden" />
        </li>
    </ul>

    <div class="pull-right" style="margin-top: 10px;">
        <button id="btnLetsGo" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#letsGoModal">Continue</button>
    </div>
    <div class="clearfix"></div>

    <!-- Modal HTML -->
    <div id="letsGoModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title"><em>@Model.Name</em>, Beautiful Choice! </h1>
                </div>
                <div class="modal-body">
                    <p>
                        Everybody feels good when they know they
                        are helping their community.
                    </p>
                    <p class="vidText">
                        You chose to help the community by <em id="modalServiceChoice">  </em>, check out the video below to see what that looks like.
                    </p>
                    <video class="vidVideo" id="modalServiceVideo" width="400" height="300" src="" controls />
                </div>
                <div class="modal-footer">
                    <button id="commSubmit" type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Continue</button>
                </div>
            </div>
        </div>
    </div>
}