@model TimeTraveler.Models.TimeTravelerDetail

@{
    ViewBag.Title = "Education and Career";
}

<div class="page-header">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h4>Destination 2:</h4>
            <h1>Education and Career</h1>
        </div>
        <div class="col-xs-12 col-md-6" style="height: 60px;">
            <div id="destination-path">
                <div id="destination-path-time-traveler" style="left: 100px;">
                    <img src="~/images/gif/timetraveler_small.gif" />
                </div>
            </div>
        </div>
    </div>
</div>

<div style="margin-bottom: 10px;">
    <strong>Whatever you choose to do after high school, make sure you choose to go somewhere that will
    help you to learn the skills necessary to be the best at what you want to be. Here are a few options
    to further your education so you can be ready for your Career:</strong>
</div>

@using (Html.BeginForm("EducationAndCareer", "Home", FormMethod.Post))
{
    <ul class="select-grid select-grid-large">
        <li>
            <input type="radio" name="education" id="cb1" value="community" />
            <label for="cb1">
                <div class="select-grid-image">
                    <img src="/images/education_and_career/CommunityCollege.jpg" />
                </div>
                <div class="select-grid-title">
                    Community College
                </div>
            </label>
        </li>
        <li>
            <input type="radio" name="education" id="cb2" value="apprentice" />

            <label for="cb2">
                <div class="select-grid-image">
                    <img src="/images/education_and_career/internship.jpg" />
                </div>
                <div class="select-grid-title">
                    Internship/Apprenticeship
                </div>
            </label>
        </li>
        <li>
            <input type="radio" name="education" id="cb3" value="university" />
            <label for="cb3">
                <div class="select-grid-image">
                    <img src="/images/education_and_career/University.jpg" />
                </div>
                <div class="select-grid-title">
                    University
                </div>
            </label>
        </li>
        <li>
            <input type="radio" name="education" id="cb4" value="career" />
            <label for="cb4">
                <div class="select-grid-image">
                    <img src="/images/education_and_career/vocational-scholarships.jpg" />
                </div>
                <div class="select-grid-title">
                    Vocational/Career School
                </div>
            </label>
        </li>
    </ul>

    <div class="pull-right" style="margin-top: 10px;">
        <button id="btnLetsGo" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#letsGoModal">Continue</button>
    </div>
    <div class="clearfix"></div>

    <!-- Modal HTML -->
    <div id="letsGoModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Excellent Choice!</h1>
                </div>
                <div class="modal-body">
                    <p>
                        Remember these are just a few of the
                        options available to you. Talk with
                        a caring adult about other choices you may
                        have and you will be on your
                        way to success!
                    </p>
                    <p>
                        If you choose to go to a 4 year university,
                        your College Graduation Date will be:  <span style="font-weight:bold; font-size:larger; font-family: 'Bradley Hand ITC'; color: #ff9601;">@Model.GraduationYear </span>
                    </p>
                    <p>
                        After High School, you decided to <span id="modalEducationChoice" style="font-weight:bold; font-family: 'Bradley Hand ITC'; color: #ff9601;">  </span>, check out the video below to see what that looks like.
                    </p>
                    <video id="modalEducationVideo" width="400" height="300" src="" controls />
                </div>
                <div id="educationSubmit" class="modal-footer">
                    <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Continue</button>
                </div>
            </div>
        </div>
    </div>
}