@model TimeTraveler.Models.TimeTravelerDetail

@{
    ViewBag.Title = "Education and Career";
}

<div class="page-header">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h4>Destination 2:</h4>
            <h1>Education and Career</h1>
        </div>
        <div class="col-xs-12 col-md-6" style="height: 60px;">
            <div id="destination-path">
                <div id="destination-path-time-traveler" style="left: 100px;">
                    <img src="~/images/gif/timetraveler_small.gif" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-5">
        <p>
            Congratulations! You worked hard and it
            payed off. You should be proud.
        </p>
        <p>
            You will graduate in the year <em>@Model.GraduationYear</em>.
        </p>
        <p>
            Your education is important, but you already
            knew that. Lets time travel to other
            educational opportunities after high school.
        </p>
        
        <div class="pull-right">
            <button id="btnEduCarGo" class="btn btn-primary btn-lg" style="margin: 20px 0;">Continue</button>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 col-md-7 text-center">
        <video src="@Model.GraduationVideo" width="400" height="300" controls />
        @*<img src="~/images/education_and_career/rsz_1high_school_grad.jpg" class="img-responsive" style="margin: 0 auto;" />*@
    </div>
</div>