@{
    ViewBag.Title = "Hobbies and Recreation Result";
}

<div class="row">
    <div class="col-md-12 col-xs-12">
        <h1>Cool, right?</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <p>
            Content
        </p>
        
    </div>
</div>