@{
	ViewBag.Title = "Home and Family";
}

<div class="container">
	<div class="page-header">
		<h2>Destination 1: Home and Family</h2>
	</div>
	<div class="row">


		<div class="col-md-12">
			Please select one of the options as to where you would like to live in the future?
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<ul class="family" style="-webkit-padding-start: 10px;">
				<li>
					<input type="checkbox" id="cb1"/>
					<label for="cb1">
						<span class="row">
							<img src="/images/home_and_family/downtown_house.png" />
						</span>
						<span class="row">
							Downtown
						</span>
					</label>
				</li>
				<li>
					<input type="checkbox" id="cb2"/>

					<label for="cb2">
						<span class="row"><img src="/images/home_and_family/mountain_house.png" /></span><span class="row">Mountains</span>
					</label>
				</li>
				<li>
					<input type="checkbox" id="cb3"/>
					<label for="cb3">
						<span class="row"><img src="/images/home_and_family/ranch_house.png" /></span>
						<span class="row">Ranch</span>
					</label>
				</li>
				<li>
					<input type="checkbox" id="cb4"/>
					<label for="cb4">
						<span class="row">
							<img src="/images/home_and_family/sea_house.png" />
						</span>
						<span class="row">Sea</span>
					</label>
				</li>
				<li>
					<input type="checkbox" id="cb5"/>
					<label for="cb5">
						<span class="row">
							<img src="/images/home_and_family/snow_house.png" />
						</span>
						<span class="row">
							Snow
						</span>
					</label>
				</li>
				<li>

					<input type="checkbox" id="cb6"/>
					<label for="cb6">
						<span class="row">
							<img src="/images/home_and_family/suburbs_house.png" />
						</span>
						<span class="row">
							City
						</span>

					</label>
				</li>

			</ul>

		</div>

	</div>
</div>