@{
    ViewBag.Title = "Family Type Message";
}

<div class="row">
    <div class="col-md-12 col-xs-12">
        <h1>Fun, isn't it?</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <p>
            Content
        </p>
        
    </div>
</div>