@model TimeTraveler.Models.TimeTravelerDetail

@{
    ViewBag.Title = "How Was Your Visit?";
}

<div class="row">
    <div class="col-xs-12">
        <h1>How Was Your Visit?</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-7">
        <p>
            Now, that was fun!! You visited your future at
            four destinations! I loved sharing this
            adventure with you. Keep time traveling.
        </p>
        <h3 style="margin: 40px 0 10px 0;">
            Kids at Hope Pledge
        </h3>
        <p>
            <span style="font-size: 150%;">I am a kid at hope</span>
        </p>
        <p>
            <span style="font-size: 150%;">I am talented, smart, and capable of success</span>
        </p>
        <p>
            <span style="font-size: 150%;">
                I have dreams for the future and I will climb
                to reach those goals everyday
            </span>
        </p>
        <p style="margin-top: 30px;">
            All kids are capable of success. No Exceptions!
        </p>
        <div class="pull-right">
            <button id="btnHowGo" class="btn btn-primary btn-lg" style="margin: 20px 0;">Go Home</button>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 col-md-5">
        <img src="~/images/gif/timetraveler-bubble.gif" class="img-responsive" style="margin: 0 auto;" />
    </div>
</div>