@model TimeTraveler.Models.TimeTravelerDetail


@{
    ViewBag.Title = "How Was Your Visit?";
}

<div class="row">
    <div class="col-md-12 col-xs-12">
        <h1>How was your visit to the future?</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <p>
            Content
        </p>
        
    </div>
</div>