@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12 col-xs-12">
        <h1>Welcome to the Time Machine!</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-8">
        <p>Welcome to the ride of your life!!</p>
        <p>
            Hello, I am the Time Traveler and I will take you on a
            fantastic adventure. We are headed to your future.
            That’s right, your future. Very cool, don’t you think?
        </p>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-inline", @style = "margin-top:40px;" }))
        {
            <div class="form-group">
                <label for="txtFirstName">
                    Your First Name
                </label>
                <input type="text" class="form-control" id="txtFirstName" name="theName" />
            </div>

            <div class="form-group">
                <label for="ddlGrade">
                    Your Grade
                </label>
                <select id="ddlGrade" class="form-control" name="grade">
                    <option value="" selected="selected"></option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>

            <div>
                <button id="btnGo" class="btn btn-primary btn-lg" style="width: 100%; max-width: 487px; margin: 20px 0;">Ready? Let's Go!</button>
            </div>
        }
    </div>
    <div class="col-xs-12 col-sm-5 col-md-4">
        <img src="~/images/png/tt_image_front_2.png" class="img-responsive" style="margin: 0 auto;" />
    </div>
</div>