@{
    ViewBag.Title = "Interests";
}

<div class="row">
    <div class="col-md-12 col-xs-12">
        <h1 class="contentTitle">Take a Minute to Think</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <p>
            I like:
        </p>
        <div class="row">
            <div class="col-md-12">
                <ul class="interests" style="-webkit-padding-start: 10px;">
                    <li>
                        <input type="checkbox" id="cb1" />
                        <label for="cb1">
                            <span class="row">
                                <img src="/images/interests/laugh.jpg" />
                            </span>
                            <span class="row">
                                To laugh
                            </span>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="cb2" />

                        <label for="cb2">
                            <span class="row"><img src="/images/interests/drawing.jpg" /></span><span class="row">Art/Drawing</span>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="cb3" />
                        <label for="cb3">
                            <span class="row"><img src="/images/interests/computers.jpg" /></span>
                            <span class="row">Computers</span>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="cb4" />
                        <label for="cb4">
                            <span class="row">
                                <img src="/images/interests/reading.jpg" />
                            </span>
                            <span class="row">Reading</span>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="cb5" />
                        <label for="cb5">
                            <span class="row">
                                <img src="/images/interests/helping.jpg" />
                            </span>
                            <span class="row">
                                Helping grown ups
                            </span>
                        </label>
                    </li>

                    <li>
                        <input type="checkbox" id="cb6" />
                        <label for="cb6">
                            <span class="row">
                                <img src="/images/interests/helpingKids.jpg" />
                            </span>
                            <span class="row">
                                Helping kids
                            </span>

                        </label>
                    </li>

                    <li>
                        <input type="checkbox" id="cb6" />
                        <label for="cb6">
                            <span class="row">
                                <img src="/images/interests/sports.jpg" />
                            </span>
                            <span class="row">
                                Sports
                            </span>

                        </label>
                    </li>

                    <li>
                        <input type="checkbox" id="cb6" />
                        <label for="cb6">
                            <span class="row">
                                <img src="/images/interests/makeOthersLaugh.jpg" />
                            </span>
                            <span class="row">
                                Making others laugh
                            </span>

                        </label>
                    </li>

                    <li>
                        <input type="checkbox" id="cb6" />
                        <label for="cb6">
                            <span class="row">
                                <img src="/images/interests/sing.jpg" />
                            </span>
                            <span class="row">
                                Singing
                            </span>

                        </label>
                    </li>

                    <li>
                        <input type="checkbox" id="cb6" />
                        <label for="cb6">
                            <span class="row">
                                <img src="/images/interests/math.jpg" />
                            </span>
                            <span class="row">
                                Math
                            </span>

                        </label>
                    </li>


                    <li>
                        <input type="checkbox" id="cb6" />
                        <label for="cb6">
                            <span class="row">
                                <img src="/images/interests/making.jpg" />
                            </span>
                            <span class="row">
                                Making/Fixing things
                            </span>

                        </label>
                    </li>

                    <li>
                        <input type="checkbox" id="cb6" />
                        <label for="cb6">
                            <span class="row">
                                <img src="/images/interests/music.jpg" />
                            </span>
                            <span class="row">
                                Music
                            </span>

                        </label>
                    </li>

                    <li>
                        <input type="checkbox" id="cb6" />
                        <label for="cb6">
                            <span class="row">
                                <img src="/images/interests/aroundTheHouse.jpg" />
                            </span>
                            <span class="row">
                                Helping around the house
                            </span>

                        </label>
                    </li>

                    <li>
                        <input type="checkbox" id="cb6" />
                        <label for="cb6">
                            <span class="row">
                                <img src="/images/interests/animals.jpg" />
                            </span>
                            <span class="row">
                                Help sick or abused animals
                            </span>

                        </label>
                    </li>

                    <li>
                        <input type="checkbox" id="cb6" />
                        <label for="cb6">
                            <span class="row">
                                <img src="~/images/interests/helpElderly.jpg" />
                            </span>
                            <span class="row">
                                Helping elderly or homeless
                            </span>

                        </label>
                    </li>

                    <li>
                        <input type="checkbox" id="cb6" />
                        <label for="cb6">
                            <span class="row">
                                <img src="~/images/interests/writing.jpg" />
                            </span>
                            <span class="row">
                                Writing
                            </span>

                        </label>
                    </li>
                </ul>

            </div>

        </div>



        <div class="row">
            <div class="col-md-12 col-cs-12">
                <button id="btnGo">Ready? Let's Go</button>
            </div>
        </div>

    </div>

</div>