@{
    ViewBag.Title = "Interests";
}

<div class="row">
    <div class="col-xs-12">
        <h1 class="contentTitle">Ready, Set, Think!!</h1>
    </div>
</div>

@using (Html.BeginForm("Interests", "Home", FormMethod.Post))
{
<div class="row">
    <div class="col-md-12 col-xs-12">
        <p>
            Lets begin by thinking about what skills and talents you
            already have. Choose at least 5 – you can choose more of
            course!
        </p>
        <p style="margin-top: 25px;">
            <strong>I like:</strong>
        </p>
        <div class="row">
            <div class="col-md-12">
                <!--  style="-webkit-padding-start: 10px;" -->
                <ul class="select-grid">
                    <li>
                        <input type="checkbox" id="cb1" value="Find humor" name="interest" />
                        <label for="cb1">
                            <div class="select-grid-image">
                                <img src="/images/interests/laugh.jpg" />
                            </div>
                            <div class="select-grid-title">
                                To laugh
                            </div>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="cb2" value="Art / Drawing" name="interest" />
                        <label for="cb2">
                            <div class="select-grid-image">
                                <img src="/images/interests/drawing.jpg" />
                            </div>
                            <div class="select-grid-title">
                                Art/Drawing
                            </div>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="cb3" value="Computers" name="interest" />
                        <label for="cb3">
                            <div class="select-grid-image">
                                <img src="/images/interests/computers.jpg" />
                            </div>
                            <div class="select-grid-title">
                                Computers
                            </div>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="cb4" value="Reading" name="interest" />
                        <label for="cb4">
                            <div class="select-grid-image">
                                <img src="/images/interests/reading.jpg" />
                            </div>
                            <div class="select-grid-title">
                                Reading
                            </div>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="cb5" value="Help adults" name="interest" />
                        <label for="cb5">
                            <div class="select-grid-image">
                                <img src="/images/interests/helping.jpg" />
                            </div>
                            <div class="select-grid-title">
                                Helping grown ups
                            </div>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="cb6" value="Help kids" name="interest" />
                        <label for="cb6">
                            <div class="select-grid-image">
                                <img src="/images/interests/helpingKids.jpg" />
                            </div>
                            <div class="select-grid-title">
                                Helping kids
                            </div>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="cb7" value="Play sports" name="interest" />
                        <label for="cb7">
                            <div class="select-grid-image">
                                <img src="/images/interests/sports.jpg" />
                            </div>
                            <div class="select-grid-title">
                                Sports
                            </div>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="cb8" value="Make others laugh" name="interest" />
                        <label for="cb8">
                            <div class="select-grid-image">
                                <img src="/images/interests/makeOthersLaugh.jpg" />
                            </div>
                            <div class="select-grid-title">
                                Make others laugh
                            </div>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="cb9" value="Sing" name="interest" />
                        <label for="cb9">
                            <div class="select-grid-image">
                                <img src="/images/interests/sing.jpg" />
                            </div>
                            <div class="select-grid-title">
                                Singing
                            </div>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="cb10" value="Math" name="interest" />
                        <label for="cb10">
                            <div class="select-grid-image">
                                <img src="/images/interests/math.jpg" />
                            </div>
                            <div class="select-grid-title">
                                Math
                            </div>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="cb11" value="Making / Fixing things" name="interest" />
                        <label for="cb11">
                            <div class="select-grid-image">
                                <img src="/images/interests/making.jpg" />
                            </div>
                            <div class="select-grid-title">
                                Making or fixing things
                            </div>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="cb12" value="Help around the house" name="interest" />
                        <label for="cb12">
                            <div class="select-grid-image">
                                <img src="/images/interests/aroundTheHouse.jpg" />
                            </div>
                            <div class="select-grid-title">
                                Help around the house
                            </div>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="cb13" value="Help animals" name="interest" />
                        <label for="cb13">
                            <div class="select-grid-image">
                                <img src="/images/interests/animals.jpg" />
                            </div>
                            <div class="select-grid-title" style="font-size: 15px;">
                                Help sick or abused animals
                            </div>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="cb14" value="Help the elderly or homeless" name="interest" />
                        <label for="cb14">
                            <div class="select-grid-image">
                                <img src="/images/interests/helpElderly.jpg" />
                            </div>
                            <div class="select-grid-title">
                                Help elderly or homeless
                            </div>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="cb15" value="Writing" name="interest" />
                        <label for="cb15">
                            <div class="select-grid-image">
                                <img src="/images/interests/writing.jpg" />
                            </div>
                            <div class="select-grid-title">
                                Writing
                            </div>
                        </label>
                    </li>
                </ul>

            </div>

        </div>



        <div class="row">
            <div class="col-md-12 col-cs-12">
                <button id="btnLetsGo">Ready? Let's Go</button>
            </div>
        </div>
<!-- Modal HTML -->
        <div id="letsGoModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                        <h4 class="modal-title">Wow!</h4>
                    </div>
                    <div class="modal-body">
                        <p>Wow!  These talents text</p>
                        <p class="text-warning"><small>Click ok to continue</small></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                        @*<button type="button" class="btn btn-primary">Ok</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
}