@model TimeTraveler.Models.TimeTravelerDetail

@{
    ViewBag.Title = "Time Traveler's Log";
}

<div class="row">
    <div class="col-md-12 col-xs-12">
        <h1>Time Traveler's Log</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <p>
            Content
        </p>
        
    </div>
</div>