@model TimeTraveler.Models.TimeTravelerDetail

@{
    ViewBag.Title = "Welcome";
}

<div class="row">
    <div class="col-xs-12">
        <h1>Hi <span class="visitorName">@Model.Name;</span>!</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-5">
        <p>
            Okay, <span class="visitorName">@Model.Name</span>, off we go. This is
            going to be fun.
        </p>
        <p>
            I’ll be asking you some questions
            about your future.  This is how we time travel. We
            use our imagination to think about not only what
            we want to do when we grow up, we also think
            about who we want to be. What our lives are going
            to look like.
        </p>
        <p>
            Hold on tight we are on our way to your future!
        </p>
        <div class="pull-right">
            <button id="btnGo" class="btn btn-primary btn-lg" style="margin: 20px 0;">Continue</button>
        </div>
    </div>
    <div class="col-xs-12 col-md-7">
        <img src="~/images/png/timetraveler_large.png" class="img-responsive" style="margin: 0 auto;" />
    </div>
</div>