@{
    ViewBag.Title = "Welcome";
}

<div class="row">
    <div class="col-md-12 col-xs-12">
        <h1>Welcome to the Time Machine!</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <p>
            Content
        </p>
        
    </div>
</div>