body {
    padding-bottom: 20px;
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1 {
    color: rgb(255, 150, 1);
    margin-top: 0;
}

.interests ul,
.family ul {
  list-style-type: none;
}

.interests li,
.family li {
  display: inline-block;
}

.interests input[type="checkbox"][id^="cb"],
.family input[type="checkbox"][id^="cb"] {
  display: none;
}

.interests label,
.family label {
  border: 1px solid #fff;
  padding-right: 20px;
  padding-left: 5px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.interests label:before,
.family label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.interests label img{
  height:80px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}
.family label img {
  height: 155px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

.interests :checked + label,
.family :checked + label {
  border-color: #ddd;
}

.interests :checked + label:before,
.family :checked + label:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

.interests :checked + label img
.family :checked + label img {
    transform: scale(0.8);
    box-shadow: 0 0 5px #333;
    z-index: -1;
}
 
footer{
    margin-top: 20px;
}

.mainbody{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(248, 224, 224);
    background-color: black;
}

.yellow{
        color: rgb(255, 150, 1);
}

.title{
    letter-spacing: -1px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.logo{
    font-size: 60px;
    color: #262626;
    cursor: pointer;
    letter-spacing: -3px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

a.logo:hover,
a.logo:focus {
    text-decoration: none;
}

.traveler{
    font-size:25px;
    letter-spacing:-2px;
}

.backpiece{
    background:url(../images/bg-top.png) left top no-repeat; 
    background-image:url(../images/bg-top.png);
}

.mainContent{
    min-height: 400px;
    background: #000;
    margin: 20px 0;
    padding: 20px;
}