body {
    padding-bottom: 20px;
    color: white;
    font-size: 16px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1 {
    color: rgb(255, 150, 1);
    margin-top: 0;
    font-family: 'Jura', sans-serif;
    font-weight: 600;
}

.btn-primary {
    background-color: #FF7F00;
    border-color: #FF7F00;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #F47A00;
    border-color: #F47A00;
    color: black;
}

ul.select-grid {
  list-style-type: none;
  padding: 0;
}

ul.select-grid li {
  display: inline-block;
}

ul.select-grid input[type="checkbox"][id^="cb"] {
  display: none;
}

ul.select-grid label {
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  background-color: #222;
}

ul.select-grid label:before {
  background-color: black;
  color: black;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid rgb(255, 150, 1);
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.interests label img {
  height: 80px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

ul.select-grid :checked + label {
  border-color: rgb(255, 150, 1);
}

ul.select-grid :checked + label:before {
  content: "✓";
  background-color: rgb(255, 150, 1);
  transform: scale(1);
}

ul.select-grid :checked + label img {
    transform: scale(0.75);
    box-shadow: 0 0 5px #333;
    z-index: -1;
}

.select-grid-image {
    display: table-cell;
    vertical-align: middle;
    width: 110px;
    height: 110px;
    overflow: hidden;
}

.select-grid-image img {
    width: 110px;
    height: auto;
}

.select-grid-title {
    width: 110px;
    height: 60px;
    overflow: hidden;
    text-align: center;
    padding: 5px 0;
}

footer{
    margin-top: 20px;
}

.mainbody{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(248, 224, 224);
    background-color: black;
}

.yellow{
        color: rgb(255, 150, 1);
}

.title{
    letter-spacing: -1px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.logo{
    font-size: 60px;
    color: #262626;
    cursor: pointer;
    letter-spacing: -3px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

a.logo:hover,
a.logo:focus {
    text-decoration: none;
}

.traveler{
    font-size:25px;
    letter-spacing:-2px;
}

.backpiece{
    background:url(../images/bg-top.png) left top no-repeat; 
    background-image:url(../images/bg-top.png);
}

.mainContent{
    min-height: 400px;
    background: #000;
    margin: 20px 0;
    padding: 20px;
}

#btnGo,
#btnBack {
    width: 200px;
}

#btnBack {
    margin-right: 10px;
}