body {
        padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.family ul {
  list-style-type: none;
}

.family li {
  display: inline-block;
}

.family input[type="checkbox"][id^="cb"] {
  display: none;
}

.family label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.family label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.family label img {
  height: 200px;
  width: 200px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

.family :checked + label {
  border-color: #ddd;
}

.family :checked + label:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

.family :checked + label img {
    transform: scale(0.8);
    box-shadow: 0 0 5px #333;
    z-index: -1;
}
 
.footer{
    display:inline;
    float:left;
    position:relative;
    
}

.mainbody{
    font-family: Arial, Helvetica, sans-serif;
    color: #262626;
    background-color: black;
}

.yellow{
        color: rgb(255, 150, 1);
}

.title{
    line-height: 1.2em;
    letter-spacing: -1px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.logo{
    display: inline-block;
    font-size: 60px;
    line-height: 1.2em;
    color: #262626;
    cursor: pointer;
    letter-spacing: -3px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.traveler{
    font-size:25px;
    letter-spacing:-2px;
}

.backpiece{
    background:url(../images/bg-top.png) left top no-repeat; 
    background-image:url(../images/bg-top.png);
    padding: 30px 30px 30px 30px;
}

.mainContent{
    padding: 20px 20px 20px 20px;
    background: #000;
}