body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.footer{
    display:inline;
    float:left;
    position:relative;
    
}

.mainbody{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #262626;
    background-color: black;
}

.logo{
    font-size: 60px;
    line-height: 1.2em;
    color: #262626;
    letter-spacing: -3px;
    position: relative;
}

h1 {
    font-weight: normal;
    text-transform: uppercase;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.yellow{
        color: rgb(255, 150, 1);
}
